@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card: #0f1117;
  --card-2: #151923;
}

.glass {
  background: linear-gradient(180deg, rgba(255,255,255,.06), rgba(255,255,255,.02));
  border: 1px solid rgba(255,255,255,.08);
  backdrop-filter: blur(6px);
}




